//Buttons
.basic{
    text-align:center;
    margin-bottom:80px;
  }
.btn{
    font-size: 14px;
    font-family: $font-montserrat-bold;
    padding: 12px 30px;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    background-color:none;
    background-image:none;
    &:after{
      content: '';
      position: absolute;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
    &.btn-one.white{
      color: #fff;
      text-transform: uppercase;
      border:2px solid #fff;
      border-radius:3px;
      -webkit-border-radius:3px;
      -moz-border-radius:3px;
      z-index: 2;
      &.white:hover{
          color: #121316;
          background:#fff;
        }
    }
    &.btn-one.black{
      color: #121316;
      font-family: $font-montserrat-bold;
      text-transform: uppercase;
      border:2px solid #121316;
      &:hover{
         background:#fff;
      }
    }
    &.btn-one:hover{
      border:2px solid #fff;
      color: #181818;
    }
  }
  .btn-basic:after{
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: -1;
  }
  .btn-basic:hover:after{
    width: 100%;
  }