//Google Web Fonts
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300,500,300italic);
@import '../fonts/stylesheet.css';

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?64nduw');
	src:url('fonts/icomoon.eot?#iefix64nduw') format('embedded-opentype'),
		url('fonts/icomoon.woff?64nduw') format('woff'),
		url('fonts/icomoon.ttf?64nduw') format('truetype'),
		url('fonts/icomoon.svg?64nduw#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
@import "bootstrap/bootstrap";
@import "vendor/typography";
@import "vendor/nivo-effect";
@import "modules/buttons";
@import "modules/pace";
@import "vendor/mixins";

@import "partials/header";
@import "partials/home";
@import "partials/about_us";
@import "partials/services";
@import "partials/nivo";
@import "partials/projects";
@import "partials/gallery";
@import "partials/clients";
@import "partials/team";
@import "partials/counter_up";
@import "partials/contact";
@import "partials/footer";

@import "modules/animate";