.about-layout{
	background-color:#1ca8dd;
	h2{
		@include center-block();
		margin-top: 110px;
		margin-bottom: 30px;
		font-size:36px;
		color: #fff;
		line-height:65px;
		width: 100%;
		text-align: center;
		font-family: $font-montserrat-bold;
		text-transform: uppercase;
		@include respond-to(medium-screens){
			margin-top:115px;
			font-size: 30px;
		}
		@include respond-to(handhelds) {
			font-size: 26px;
			line-height: 36px;
			margin-top: 60px;
			margin-bottom: 35px;
		}
		@include respond-to(landscape){
			font-size: 26px;
			line-height: 36px;
			margin-top: 60px;
			margin-bottom: 35px;
		}
	}
	.underline{
		width: 90px;
		height: 2px;
		background:#8ed4ee;
		@include center-block();
		margin-bottom: 45px;
		@include respond-to(medium-screens){
			margin-bottom: 50px;
		}
		@include respond-to(handhelds) {
			margin-bottom: 35px;
		}
	}
	.info{
		margin-bottom:80px;
		p{
			color: #fff;
			font-size: 18px;
			font-family: $font-raleway-regular;
			text-align: center;
			line-height: 30px;
			@include respond-to(medium-screens){
				font-size: 16px;
			}
			@include respond-to(handhelds) {
				font-size: 14px;
				line-height: 20px;
			}
		}
		.col-xs-8{
			@include respond-to(handhelds){
				width: 100%;
			}
			@include respond-to(landscape){
				width: 100%;
			}
		}
		.col-xs-offset-2{
			@include respond-to(handhelds){
				margin-left:0px;
			}
			@include respond-to(landscape){
				margin-left: 0px;
			}
		}	
	}
	
}
.ipad{
	background:url('../images/ipad-bg.png') no-repeat center;
	@include image-2x('../images/retina/ipad-bg@2x.png',1719px, 480px);
	min-height:479px;
	position:relative;
	overflow:hidden;
	@include respond-to(landscape){
		min-height: 380px;
	}
	@include respond-to(handhelds){
		min-height: 180px;
	}
	@include respond-to(medium-screens){
		min-height: 460px;
	}
	.carousel-mid{
		@include center-block();
		&.no-gutter{
			left: -5px;
			position: relative;
			top: 77px;
			width: 768px;
			@include respond-to(medium-screens){
				border:10px solid #fff;
				top:0px;
				left: 0px;
				width: 728px;
				border-radius:10px;
			}
			@include respond-to(handhelds){
				width: 95%;
				border:10px solid #fff;
				top:0px;
				left: 0px;
				border-radius:8px;
			}
			@include respond-to(landscape){
				width: 95%;
				border:10px solid #fff;
				top:0px;
				left: 0px;
				border-radius:8px;
			}
		}
	}
	//change the ipad carousel style when you view this on small devices
	@include respond-to(medium-screens){
		background:none;
		min-height: auto;
		.carousel-mid{
		@include center-block();
			.carousel-inner {
				.item {
					img{
						width: 100%;		
					}
				}
				
			}
		}
		&.no-padding{
			padding:0px;
		}
	}

	@include respond-to(handhelds){
		background:none;
		min-height: auto;
		.carousel-mid{
		@include center-block();
			.carousel-inner {
				.item {
					img{
						width: 100%;		
					}
				}
				
			}
		}
		&.no-padding{
			padding:0px;
		}
	}
	@include respond-to(landscape){
		background:none;
		min-height: auto;
		.carousel-mid{
		@include center-block();
			.carousel-inner {
				.item {
					img{
						width: 100%;		
					}
				}
				
			}
		}
		&.no-padding{
			padding:0px;
		}
	}
}
.carousel-area{
	position: relative;
	top: -2px;
	background:#1ca8dd;
	min-height: 135px;
	@include respond-to(landscape){
		min-height: 110px;
	}
	.carousel-nav{
		background:url('../images/carousel-nav.png') no-repeat;
		width:328px;
		@include center-block();
		min-height: 27px;
		position: relative;
		top: 50px;
		@include respond-to(medium-screens){
			top:0px;
		}
		@include respond-to(handhelds){
			background:none;
			width: 155px;
			top: 25px;
		}
		a{
			&:first-child{
				margin-left: 49px;
				@include respond-to(handhelds){
					margin-left: 25px;
				}
			}
			@include border-radius(30px);
			background:#127093;
			height:17px;
			width: 17px;
			display: inline-block;
			position: relative;
			top: 5px;
			margin-left: 50px;
			@include respond-to(handhelds){
				margin-left: 10px;
			}
			text-indent:-9999px;
			&.active{
				background:#8dd0e9;
			}
			&:nth-child(3){
				margin-left: 49px;
				@include respond-to(handhelds){
					margin-left: 10px;
				}
			}
		}
	}
}

/* About Us -- with white background */

.about-us{
	background:#f0f2f2;
	min-height:200px;
	h2{
		@include center-block();
		margin-top: 93px;
		margin-bottom: 30px;
		font-size: 36px;
		color: #1b1b1d;
		line-height:65px;
		width: 100%;
		text-align: center;
		font-family: $font-montserrat-bold;
		text-transform: uppercase;
		@include respond-to(medium-screens){
			font-size: 30px;
		}
		@include respond-to(handhelds){
			font-size: 26px;
			margin-bottom: 35px;
			margin-top: 60px;
		}
		@include respond-to(landscape){
			font-size: 26px;
			margin-bottom: 35px;
			margin-top: 60px;
		}
	}
	.underline{
		width: 90px;
		height: 2px;
		background: #8b8c8e;
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 45px;
		@include respond-to(medium-screens){

		}
		@include respond-to(handhelds){
			margin-bottom: 35px;
		}
		@include respond-to(landscape){
			margin-bottom: 35px;
		}
	}

	.info{
		margin-bottom:30px;
		@include respond-to(handhelds){
			margin-bottom: 30px;
		}
		@include respond-to(medium-screens){
			margin-bottom: 30px;
		}
		@include respond-to(landscape){
			margin-bottom: 30px;
		}
		p{
			color: #191b1f;
			font-size: 18px;
			font-family: $font-raleway-regular;
			text-align: center;
			line-height:30px;
			@include respond-to(medium-screens){
				font-size: 16px;
				padding:0px 110px;
			}
			@include respond-to(handhelds){
				font-size: 14px;
				line-height: 20px;
			}
			@include respond-to(landscape){
				font-size: 14px;
				line-height: 20px;
			}
		}	
	}
	.block-center{
		@include center-block();
		img{
			position:relative;
			left:-35px;
			max-width: 100%;
		}
		@include respond-to(medium-screens){
			width: 100%;
			margin-bottom: 80px;
			img{
				left: 0px;
				@include center-block();
			}
		}
		@include respond-to(handhelds){
			width: 100%;
			margin-bottom: 40px;
			img{
				max-width: 100%;
				left: 0px;
			}
		}
		@include respond-to(landscape){
			width: 100%;
			margin-bottom: 40px;
			img{
				max-width: 100%;
				left: 0px;
			}
		}
	}
	@include respond-to(medium-screens){
		.wide{
			width: 100%;
		}
	}
	@include respond-to(handhelds){
		.wide{
			width: 100%;
		}
	}
	@include respond-to(landscape){
		.wide{
			width: 100%;
		}
	}
}

.skill{
	visibility:hidden;
	margin-left:0px;

	h3{
		font-family: $font-raleway-bold;
		font-size: 18px;
		line-height:24px;
		color: #1b1b1d;
		margin-bottom: 25px;
		padding:0px;
		margin-top:0px;
	}
	p{
		font-family: $font-raleway-regular;
		font-size: 14px;
		color: #1b1b1d;
		margin-bottom: 30px;
		@include respond-to(handhelds){
			margin-bottom: 30px;
		}
	}
	@include respond-to(medium-screens){
		margin-left:0px;
	}
	.skillbar {
		position:relative;
		display:block;
		margin-bottom:15px;
		width:100%;
		background:#d2d3d5;
		height:6px;
		border-radius:3px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		-webkit-transition:0.3s linear;
		-moz-transition:0.3s linear;
		-ms-transition:0.3s linear;
		-o-transition:0.3s linear;
		transition:0.3s linear;
		-webkit-transition-property:width, background-color;
		-moz-transition-property:width, background-color;
		-ms-transition-property:width, background-color;
		-o-transition-property:width, background-color;
		transition-property:width, background-color;
		.skillbar-bar {
			height:6px;
			width:0px;
			background:#1ca8dd;
			border-radius:3px;
			-moz-border-radius:3px;
			-webkit-border-radius:3px;
		}
		.skill-bar-percent {
			position:absolute;
			right:10px;
			top:0;
			font-size:11px;
			height:35px;
			line-height:35px;
			color:#444;
			color:rgba(0, 0, 0, 0.4);
		}
	}
	.accuracy{
		padding-right: 0px;
	}
	.skillbar-title {
			font-family: $font-raleway-regular;
			font-size:14px;
			color:#6f6f70;
			margin-bottom: 15px;
			span {
				height:6px;
				color: #1b1b1d;
				font-size: 16px;
				font-family: $font-raleway-bold;
			}

		}
}

/* Our Story */
h3{
	margin-bottom:40px;
	&.inner-heading{
		margin-top: 105px;
		margin-bottom: 27px;
		background:#bdbdbd;
		height: 1px;
		position:relative;

		span{
			font-size: 24px;
			color: #191b1f;
			font-family: $font-montserrat-bold;
			position:absolute;
			background:#f0f2f2;
			padding:0px;
			text-align: center;
			top:-15px;
			@include center(170px);
			text-transform: uppercase;
			@include respond-to(medium-screens){
				font-size: 22px;
				top:-10px;
			}
			@include respond-to(landscape){
				font-size: 22px;
				top:-10px;
			}
			@include respond-to(handhelds){
				font-size: 20px;
				top:-10px;
			}
		}
	}
	
}

.story{
		background:url('../images/arrow.png') no-repeat 0px 6px;
		@include image-2x('../images/retina/arrow@2x.png',29px,25px);
		height:auto;
		padding-left: 45px;
		margin-top:50px;
		margin-bottom: 95px;
		@include respond-to(handhelds){
			margin-top:0px;
			width: 100%;
			margin-bottom:50px;
			&.first{
				margin-top: 20px;
				margin-bottom:20px;
			}
		}
	h4{
		color: #191b1f;
		font-family: $font-raleway-bold;
		font-size: 18px;
		margin-bottom: 15px;
	}
	p{
		font-size: 14px;
		color: #191b1f;
		font-family: $font-raleway-regular;
		line-height: 24px;
	}
	@include respond-to(medium-screens){ 
		margin-left: 0px;

	}
}