.clients-parallax{
	min-height:850px;
	background:url('../images/layouts/clients-bg.jpg')  center center no-repeat;
	position: relative;
	overflow: hidden;
	height: 100%;
	width: 100%;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	.color-overlay{
		background-color: rgba(18, 19, 22, 0.85);
	}
	h2{
		@include center-block();
		margin-top: 90px;
		margin-bottom: 30px;
		font-size:36px;
		color: #ffffff;
		line-height: 65px;
		width: 100%;
		text-align: center;
		text-transform: uppercase;
		font-family: $font-montserrat-bold;
		@include media_query(tablets){
			font-size: 30px;
		}
		@include respond-to(handhelds){
			font-size: 26px;
			margin-top: 60px;
			margin-bottom: 30px;
		}
		@include respond-to(landscape){
			font-size: 26px;
			margin-top: 60px;
			margin-bottom: 30px;	
		}
	}
	.underline{
		width: 90px;
		height: 2px;
		background:#949495;
		@include center-block();
		margin-bottom: 45px;
		@include respond-to(handhelds){
			margin-bottom: 30px;
		}
		@include respond-to(landscape){
			margin-bottom: 30px;
		}
	}
	p.sub{
			color: #fff;
			font-size: 18px;
			font-family: $font-raleway-regular;
			text-align: center;
			line-height:30px;
			margin-bottom: 60px;
			font-style: normal;
			margin-top: 0px;
			@include respond-to(medium-screens){
				font-size: 16px;
				padding:0px 110px;
				margin-bottom: 30px;
			}
			@include respond-to(handhelds){
				font-size: 14px;
				line-height: 20px;
			}
			@include respond-to(landscape){
				font-size: 14px;
				line-height: 20px;
			}
	}
	p{
		color: #fff;
		font-size: 18px;
		font-family: $font-open-sans-italic;
		text-align: center;
		line-height:30px;
		margin-bottom: 45px;
		margin-top: 50px;
		@include respond-to(handhelds){
			font-size: 14px;
			line-height: 24px;
			margin-top: 30px;
			padding:0px 20px;
			margin-bottom: 30px;
		}
		@include respond-to(landscape){
			font-size: 14px;
			line-height: 24px;
			margin-top: 30px;
			padding:0px 20px;
			margin-bottom: 30px;
		}
	}
	
		h3{
				font-family: $font-montserrat-bold;
				text-transform: uppercase;
				background:transparent;
				text-align: center;
				margin-bottom: 10px;
				@include respond-to(medium-screens){
					margin-bottom: 0px;
				}
				@include respond-to(handhelds){
					margin-bottom: 0px;
				}
				@include respond-to(landscape){
					margin-bottom: 0px;
				}
				span{
					font-size: 24px;
					color: #ffffff;
					background: transparent;
					display: block;
					@include respond-to(medium-screens){
						font-size: 22px;
					}
					@include respond-to(handhelds){
						font-size: 20px;
					}
					@include respond-to(landscape){
						font-size: 20px;
					}
				}
				span:before{
					width: 90px;
					height: 1px;
					background:#959596;
					font-weight: normal;
					display: inline-block;
					content:'';
					position:relative;
					top:-5px;
					margin-right:30px;	
					font-weight: normal;
					@include respond-to(handhelds){
						width: 45px;
						margin-right: 7px;
					}
				}
				span:after{
					width: 90px;
					height: 1px;
					background:#959596;
					font-weight: normal;
					display: inline-block;	
					content:'';
					position:relative;
					top:-5px;
					margin-left:30px;
					font-weight: normal;
					@include respond-to(handhelds){
						width: 45px;
						margin-left: 7px;
					}
				}
				
		}
	
	.thumbnail{
		background:none;
		border:0px transparent;
		position:relative;
		img{
			opacity: 0.7;
		}
		&:hover img{
			opacity: 1;
		}
	}
	.carousel {
		margin-bottom: 0;
		padding: 0 0px 70px 0px;
	}
	.carousel-control {
		left: -12px;
	}
	.carousel-control.right {
		right: -12px;
	}
	.carousel-indicators {
		right: 50%;
		top: auto;
		bottom: 0px;
		margin-right: -19px;
	}

	.carousel-indicators li {
		background: #7a7a7c;
		width: 12px;
		height: 12px;
		margin:3px;
		border:0px transparent;
	}
	.carousel-indicators .active {
		background: #fff;
		margin:3px;
	}
	.carousel-container{
		margin-bottom:60px;
	}
	.carousel-container {
		position:relative;
		&.quotes:after{
			content:close-quote;
			font-size: 200px;
			position:absolute;
			right: 50px;
			color:rgba(255, 255, 255, 0.1);
			@include respond-to(handhelds){
				content:'';
			}
			@include respond-to(landscape){
				content:'';
			}
		}
		&.quotes:before{
			content:open-quote;
			font-size: 200px;
			position:absolute;
			left:50px;
			color:rgba(255, 255, 255, 0.1);
			@include respond-to(handhelds){
				content:'';
			}
			@include respond-to(landscape){
				content:'';
			}
		}
		&.quotes h3{
			text-align: center;
			text-transform: uppercase;
			font-size: 14px;
			color: #ffffff;
			margin-bottom: 30px;
			@include respond-to(medium-screens){
				margin-bottom: 50px;
			}
			@include respond-to(handhelds){
				margin-bottom:30px;
			}
			@include respond-to(landscape){
				margin-bottom: 30px;
			}
			font-family: $font-raleway-regular;
			font-weight: normal;
			strong{
				font-family: $font-raleway-bold;
			}
		}

		@include respond-to(medium-screens){
			&.quotes:after{
				font-size: 165px;
				top:0px;
			}
			&.quotes:before{
				font-size: 165px;	
			}
			&.quotes{
				.carousel-inner{
					width: 60%;
					@include center-block();
				}
			}
		}
	}
  .basic{
  	margin-bottom:110px;
  }
}
#testimonials{
	margin-bottom:85px;
}

/* some carousel clients fixes for 320 mobile */
@include respond-to(handhelds){
	#clients{
		.item{
			width: 100%;
			.col-xs-hidden-offset-1{
				margin-left: 0px;
				> div{
					width: 100%;
				}
			}
		}
	}
}
@include respond-to(landscape){
	#clients{
		.item{
			width: 100%;
			.col-xs-hidden-offset-1{
				margin-left: 0px;
				> div{
					width: 100%;
				}
			}
		}
	}
}