.contact-parallax{
	min-height:700px;
	background:url('../images/layouts/contact-bg.jpg')  center center no-repeat;
	position: relative;
	overflow: hidden;
	height: 100%;
	width: 100%;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	.color-overlay{
		background-color:rgba(25, 27, 31, 0.9);
	}
	h2{
		@include center-block();
		margin-top: 93px;
		margin-bottom: 30px;
		font-size:36px;
		color: #fff;
		line-height: 65px;
		width: 100%;
		text-align: center;
		font-family: $font-montserrat-bold;
		text-transform: uppercase;
		@include respond-to(handhelds){
			font-size: 26px;
			margin-top: 60px;
			margin-bottom: 30px;
		}
		@include respond-to(landscape){
			font-size: 26px;
			margin-top: 60px;
			margin-bottom: 30px;
		}
	}
	.underline{
		width: 90px;
		height: 2px;
		background:#979799;
		@include center-block();
		margin-bottom: 45px;
		@include respond-to(handhelds){
			margin-bottom: 30px;
		}
		@include respond-to(landscape){
			margin-bottom: 30px;	
		}
	}
	p.sub{
			color: #fff;
			font-size: 18px;
			font-family: $font-raleway-regular;
			text-align: center;
			line-height:30px;
			margin-bottom: 60px;
			margin-top: 40px;
			font-style: normal;
			@include respond-to(handhelds){
				font-size: 14px;
				line-height: 20px;
			}
			@include respond-to(landscape){
				font-size: 14px;
				line-height: 20px;
			}
	}

	.address{
		@include respond-to(handhelds){
			width: 100%;
			padding:0px;
		}
		@include respond-to(landscape){
			width: 100%;
		}
		h3{
			font-size: 18px;
			color: #ffffff;
			font-family: $font-raleway-bold;
			text-transform: uppercase;
			margin:0px;
			line-height: 30px;
			margin-bottom: 25px;
		}
		ul{
			padding:0px;
			margin:0px;
			display: block;
			margin-bottom: 40px;
			@include respond-to(handhelds){
				margin-bottom: 50px;
			}
			li {
				list-style: none;
				display: block;
				margin-bottom: 20px;
				&.location{
					background:url('../images/location.png') no-repeat left;
				}
				&.mail{
					background:url('../images/mail.png') no-repeat left;
				}
				&.mobile{
					background:url('../images/mobile.png') no-repeat left;
				}

				a{
					padding-left:35px;
					color: #ffffff;
					font-size: 14px;
					font-family: $font-raleway-regular;
					line-height: 30px;
					&:hover{
						text-decoration:none;
					}
				}
			}
		}

		ul.social-contact{
			margin:0px;
			padding:0px;

			li{
				list-style:none;
				display: inline-block;
				margin-left: 15px;

				&:first-child{
					margin-left: 0px;
				}
				a {
					display: block;
					width: 38px;
					height: 38px;
					background:url('../images/social-sprite.png');
					&.facebook{
						background-position: -6px -10px;
						&:hover{
							background-position: -5px -65px;
						}
					}
					&.twitter{
						background-position: -62px -10px;
						&:hover{
							background-position: -61px -65px;
						}
					}
					&.instagram{
						background-position: -117px -10px;
						&:hover{
							background-position: -116px -65px;
						}
						
					}
					&.gplus{
						background-position: -173px -10px;
						&:hover{
							background-position: -172px -65px;
						}
					}
				}
			}
		}
	}

	.contact{
		width: 450px;
		float: right;
		@include respond-to(medium-screens){
			width: 100%;
			float: left;
		}
		@include respond-to(handhelds){
			width: 100%;
			padding:0px;
		}
		@include respond-to(landscape){
			width: 100%;
		}
		#contact_results{
			display: none;
			font-size: 18px;
			color: #ffffff;
			font-family: $font-raleway-bold;
			text-transform: uppercase;
			margin:85px 0px;
			line-height: 30px;
			text-align: center;
			h3{
				font-family: $font-raleway-bold;
				font-size: 18px;
			}
			i{
				display: none;
			}
			&.open{
				display: block;
			}
		}
		form{

			.panel-body{
				margin-bottom: 55px;
				padding-top:8px;
				@include respond-to(handhelds){
					padding:15px 0px;
					float: none !important;
				}
				@include respond-to(landscape){
					padding:15px 0px;
					float: none !important;	
				}
				> div{
					width: 100%;
					margin-bottom: 20px;
					display: table;
					.input-group-addon{
						width: 35px;
						height: 100%;
						background:none;
						font-size: 18px;
						padding:0px;
						border:0px;
						display: table-cell;
						position:absolute;
						text-align: center;
   						vertical-align: middle;
					}
					.user{
   							&:before{
	   							display: block;
								height: auto;
								vertical-align: middle;
								border-right: 1px solid #25272a;
								margin-top: 10px;
								padding-right: 5px;
								margin-left: 8px;
								font-size: 19px;
   							}
   					}
					.mobile{
						&:before{
	   							display: block;
								height: auto;
								vertical-align: middle;
								border-right: 1px solid #25272a;
								margin-top: 7px;
								padding-right: 5px;
								margin-left: 8px;
								font-size: 25px;
   							}
					}
					.email{
						&:before{
	   							display: block;
								height: auto;
								vertical-align: middle;
								border-right: 1px solid #25272a;
								margin-top: 12px;
								padding-right: 5px;
								margin-left: 7px;
								font-size: 18px;
   							}
					}
					.msg{
						&:before{
								display: block;
								height: 85%;
								vertical-align: middle;
								border-right: 1px solid #25272a;
								margin-top: 8px;
								padding-right: 5px;
								padding-top:2px;
								margin-left: 7px;
								font-size: 18px;
						}
					}
					input{
						background:#1a1b1f;
						color:#aaadb2;
						font-size:14px;
						font-family: $font-raleway-regular;
						padding-left: 42px;
						border-radius: 3px;
						-moz-border-radius: 3px;
						-webkit-border-radius: 3px;
						border:1px solid transparent;
						&:focus{
							border: 1px solid;
							border-color: rgba(28, 168, 221, 0.8);
							box-shadow: 0 0px 1px rgba(28, 168, 221, 0.8) inset, 0px 1px 6px rgba(28, 168, 221, 0.6);
						}
						&:focus::-webkit-input-placeholder{
							color: #aaadb2;
						}
						&:focus::-moz-placeholder{
							color: #aaadb2;
							border: 1px solid #cccccc;	
						}
						&:focus:-ms-input-placeholder{
							color: #aaadb2;
							border: 1px solid #cccccc;		
						}
						&::-webkit-input-placeholder{
							color:#555556;
						}
						&:focus::-webkit-autofill{
							background-color:none;
						}
						&.error{
							border:1px solid #e74f35;
						}
						&:-webkit-autofill{
							 -webkit-box-shadow: 0 0 0px 1000px #0c0c0d inset;
							 -webkit-text-fill-color: #aaadb2 !important;
						}
					}
					input[type=submit]{
						background:none;
						&:focus{
							box-shadow: 0 0px 0px;
							-webkit-box-shadow: 0 0px 0px;
							-moz-box-shadow: 0 0px 0px;
							outline:none;
						}
					}
					textarea{
						background:#1a1b1f;
						color:#aaadb2;
						font-size:14px;
						font-family: $font-raleway-regular;
						min-height: 100px;
						padding-left: 42px;
						border: 1px solid transparent;
						border-radius: 3px;
						-moz-border-radius: 3px;
						-webkit-border-radius: 3px;
						resize:none;
						&::-webkit-input-placeholder{
							color:#555556;
						}
						&:focus{
							border: 1px solid;
							border-color: rgba(28, 168, 221, 0.8);
							box-shadow: 0 0px 1px rgba(28, 168, 221, 0.8) inset, 0px 1px 6px rgba(28, 168, 221, 0.6);
						}
						&:focus::-webkit-input-placeholder{
							color: #aaadb2;
						}
						&.error{
							border:1px solid #e74f35;
						}
						&:-webkit-autofill{
							 -webkit-box-shadow: 0 0 0px 1000px #0c0c0d inset;
							 -webkit-text-fill-color: #aaadb2 !important;
						}	
					}
					
				}
				.full-width{
					input[type="submit"]{
						width: 100%;
						font-family: $font-montserrat-bold;
						font-size: 14px;
						color: #fff;
						padding: 15px 30px;
						border: 2px solid #fff;
						&:hover{
							color: #000;
						}
					}
				}
				@include respond-to(medium-screens){
					width: 100%;
					padding:15px 0px;
				}
			}

		}
		.contact-errors{
			p.alert-danger{
				display: none;
				background:none;
				margin:0px;
				padding:0px;
				font-family: $font-raleway-regular;
				font-size: 14px;
				border:0px;
				margin-bottom:10px;
				color: #e74f35;
				i{
					padding-right:10px;
					font-size: 18px;
					padding-left: 10px;
				}
			}
			p.alert-success{
				display: none;
				background:none;
				margin:0px;
				padding:0px;
				font-family: $font-raleway-regular;
				font-size: 14px;
				border:0px;
				color:#fff;
			}
		}
	}
}