.counter-up{
	background:url('../images/layouts/status-bg.jpg') center center no-repeat;
	min-height: 485px;
	width:100%;
	position: relative;
	overflow: hidden;
	background-size:cover;
	-moz-background-size:cover;
	-webkit-background-size:cover;
	.color-overlay{
		//on next update change this to opacity 0.9
		background-color: rgba(28, 168, 221, 0.9);
		min-height: 485px;
	}
	.icon{
		display:block;
		margin-bottom: 60px;
		min-height: 80px;
		img{
			max-width: 100%;
			height: auto;
			display: block;
			margin:0px auto;
		}
	}
	.underline{
		display: block;
		background:#95d3eb;
		height: 1px;
		margin:0px auto 30px auto;
		width:80px;
	}
	.milestone-count{
		text-align: center;
		width: 100%;
		line-height: 72px;
		font-size: 40px;
		color: #ffffff;
		font-family: $font-raleway-extra-bold;
		display: block;
	}
	h6{
		text-align: center;
		font-family: $font-raleway-bold;
		font-size: 18px;
		display: block;
		color: #fff;
		margin-bottom: 25px;
	}
	.margin-top{
		margin-top:110px;
	}
	@include respond-to(medium-screens){
	.ipad-split{
			width: 385px;
			display: block;
			@include center-block();
			.count{
				width: 50%;
				margin-bottom: 50px;
			}
		}
	}
	
	@include respond-to(handhelds){
		.row{
			margin-top: 0px;
			padding-top:60px;
		}
		.count{
			width: 100%;
			margin-bottom: 50px;
		}
		.icon{
			margin-bottom: 15px;
		}
	}
	@include respond-to(landscape){
		.ipad-split{
			width: 100%;
			display: block;
			@include center-block();
			.count{
				width: 50%;
				margin-bottom: 50px;
			}
		}
	}
}