.footer{
	min-height:135px;
	width:100%;
	display: block;
	background:#121316;
	p{
		text-align: center;
		font-family: $font-raleway-regular;
		color: #ffffff;
		font-size: 14px;
		margin-top: 65px;
		a{
			font-family: $font-raleway-regular;
			color: #ffffff;
			text-decoration: none;
			&:hover{
				color: #1ca8dd;
			}
		}
		@include respond_to(medium-screens){
			font-size: 13px;
		}
	}
}