/* ========== Section Header ============ */
body{
	height: 100%;
}
.row{
	margin:0px;
}
.navbar-default, .navbar-toggle{
	background-color:#fff;
	border-color:#b3b3b3;
}
.navbar-default .navbar-toggle:focus{
	background-color:#1ca8dd;
	border-color:#1ca8dd;
	outline:none;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color: #191b1f;
}
#header{
	.logo{
		background:url('../images/logo.png') no-repeat;
		display: block;
		width: 154px;
		height: 60px;
		@include respond-to(handhelds){
			height: 63px;
		}
		@include respond-to(landscape){
			height: 63px;
		}
	}
}
.preloader *{
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-o-transition: none linear !important;
	transition: none linear !important;
}
.header{
	height:100px;
    position: fixed;
    top: 0;
    z-index: 9999;
	width: 100%;
	background-color:rgba(252, 250, 252, 1);
	-webkit-transition: height 0.3s linear;
	-moz-transition: height 0.3s linear;
	-o-transition: height 0.3s linear;
	transition: height 0.3s linear;
	nav{
		margin-top: 25px;
		-webkit-transition: margin 0.3s linear;
			-moz-transition: margin 0.3s linear;
			-o-transition: margin 0.3s linear;
			transition: margin 0.3s linear;
	}
	&.stuck{
		height: 70px;
		background-color:rgba(252, 250, 252, 0.95);	
		nav {
			margin-top:7px;
			-webkit-transition: margin 0.3s linear;
			-moz-transition: margin 0.3s linear;
			-o-transition: margin 0.3s linear;
			transition: margin 0.3s linear;
		}
		@include respond-to(handhelds){
			.navbar-collapse{
				background-color:rgba(252, 250, 252, 0.95);	
			}
		}
		/* this is for 481px to 759px */
		@include respond-to(landscape){ 
			.navbar-collapse{
				background-color:rgba(252, 250, 252, 0.95);	
			}
		}
	}
}
.navbar-toggle{
	@include respond-to(medium-screens) { margin-top:10px;}
	@include respond-to(handhelds) { margin-right:0px;}
}
.navbar-default, .navbar-collapse{
	background:none;
	border:0px;
	@include clearfix;
}
.navbar-collapse{
	@include respond-to(handhelds){
		background-color:#fcfafc;
		position:relative;
		margin-top: 0px;
		.navbar-nav{
			margin: 10px -15px;
		}
	}
	@include respond-to(landscape){
		background-color:#fcfafc;
		position:relative;
		margin-top: 0px;
		.navbar-nav{
			margin: 10px -15px;
		}
	}
}

.container{
	&.container-xs{
		@include respond-to(handhelds){
			padding:0px;
			.navbar-header{
				padding:0px 15px;
			}
		}
		@include respond-to(landscape){
			padding:0px;
			.navbar-header{
				padding:0px 15px;
			}
		}
		@include respond-to(medium-screens) { 
			padding:0px;
			.navbar-header{
				padding:0px 15px;
			}
		}
	}
}
#myNav{
	
	li{
		 > a{
			text-decoration:none;
			color:#222222;
			text-transform: uppercase;
			font-family: $font-montserrat-regular;
			@include respond-to(medium-screens){
				font-size: 13px;
				padding:15px 10px;
				line-height: 24px;
			}
			&.active{
				color:#1ca8dd;
			}
		}
	 &:hover{
	 	a{
	 		color:#1ca8dd;
	 		background-color:transparent;	
	 	}
	 }
	}
}
.navbar-nav{
	@include respond-to(medium-screens) { 
		margin: 0px;
		padding:0px;
	}
}
.navbar{
	@include respond-to(medium-screens) { 
		margin-bottom: 0px;
		padding:0px;
	}
}