.projects{
	background:#e5e9ea;
	min-height:800px;
	h2{
		@include center-block();
		margin-top: 93px;
		margin-bottom: 45px;
		font-size: 36px;
		color: #191b1f;
		line-height:65px;
		width: 100%;
		text-align: center;
		font-family: $font-montserrat-bold;
		text-transform: uppercase;
		@include respond-to(medium-screens){
			font-size: 30px;
		}
		@include respond-to(handhelds){
			margin-top: 60px;
			margin-bottom: 60px;
			font-size: 26px;
		}
		@include respond-to(landscape){
			margin-top: 60px;
			margin-bottom: 60px;
			font-size: 26px;
		}
	}

	.simple-nav{
		background:url('../images/eye.png') no-repeat left;
		@include image-2x('../images/retina/eye@2x.png',20px, 12px);
		margin-bottom: 25px;
		@include respond-to(handhelds){
			background:none;
			padding-left:0px;
			padding-right:0px;
		}
		@include respond-to(landscape){
			background:none;
			padding-left:0px;
			padding-right:0px;
		}
		label{
			font-size: 14px;
			color: #191b1f;
			font-family: $font-raleway-bold;
			background:none;
			border:0px;
			box-shadow:none;
			background-image:none;
			padding: 0px;
			text-transform: uppercase;
			&:focus{
				background:0px;
				box-shadow:none;
				background-image:none;
			}
			&:active{
				background:0px;
				box-shadow:none;
				background-image:none;
			}
			&:hover{
				background:0px;
			}
			&:after{

			}
			&:before{
				content:"/";
				padding-left:5px;
				color: #7e807d;
				@include respond-to(handhelds){
					padding-left:3px;
				}
				@include respond-to(landscape){
					padding-left:3px;
				}
			}
			input[type="checkbox"]{
				opacity:0;
				font-size: 0px;
				width: 0px;
			}
			span.active{
					font-weight: normal;
					opacity: 0.5;
			}
			
		}
		label:first-child{
			padding-left:15px;
			@include respond-to(handhelds){
				padding-left:0px;
				&:before{	
					padding-left:0px;
				}
			}
			@include respond-to(landscape){
				padding-left:0px;
				&:before{	
					padding-left:0px;
				}
			}
			&:before{
				content:"";
			}
		}
	}
	.grid-view{

		&:before{
			background:url('../images/grid.png') no-repeat left;
			@include image-2x('../images/retina/grid@2x.png', 12px, 12px);
			text-decoration: none;
			padding-left:20px !important;
			font-family: $font-raleway-bold;
			font-size: 14px;
			color: #191b1f;
			text-transform: uppercase;
			content:'' !important;
			@include respond-to(handhelds){
				padding-left:0px;
				background:none;
				line-height: 24px;
			}
			@include respond-to(landscape){
				padding-left:0px;
				background:none;
				line-height: 24px;
			}
		}
	}
	@include respond-to(handhelds){
		.grid-nav{
			padding-left:0px;
			padding-right:0px;
		}
	}
	.basic{
		margin-bottom: 110px;
	}
}

#allprojects{
	margin-bottom:45px;
	@include respond-to(handhelds){
		margin-bottom: 0px;
	}
	.project-item{
		overflow: hidden;
		display: block;
		&:nth-child(-n + 6) {
			display: block;
		}
		&.hidden{
			display: none;
		}
		@include respond-to(handhelds){
			width: 100%;
			padding:0px;
		}
		@include respond-to(landscape){
			width: 50%;
		}
		&:after{
			margin-bottom: 30px;
		}
		.portfolio{
			
			.projects-image{
				position: relative;
				margin-bottom: 20px;
				position: relative;
				z-index: 1;
				overflow: hidden;
				&.hover .mask{
					height: 100%; opacity: 1;
				}
				&:hover .mask{
					height: 100%; opacity: 1;	
				}
				img{
					display: block;
					margin: 0;
					padding: 0;
					height: auto;
					max-width: 100%;
				}
				.mask{
					opacity:0;
					background-color: rgba(0,0,0,0.6);
			   		-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
			   		filter: alpha(opacity=0);
			   		position:absolute;
			   		overflow: hidden; 
					transition: all 0.5s; 
					-webkit-transition: all 0.5s; 
					-moz-transition: all 0.5s; 
					-o-transition: all 0.5s;
					bottom: 0; 
					left: 0; 
					right: 0; 
					width: 100%; 
					height: 100%; 
					opacity: 0;
					-webkit-transform-style: preserve-3d;
  					-moz-transform-style: preserve-3d;
  					transform-style: preserve-3d; 
				   		.info{
					   		// background:url('../images/click.png') no-repeat;
					   		display: block;
					   		margin: 0px auto;
					   		width: 41px;
					   		height: 41px;
					   		cursor:pointer;
					   		border:0px;
					   		top: 50%;
							-webkit-transform: translateY(-50%);
							transform: translateY(-50%);
							position: relative;
					   		&:after{
					   			content:"+";
					   			color:#fff;
					   			font-size: 78px;
					   			text-decoration: none;
					   			font-family: "Times New Roman", Times, serif;
					   			line-height: 52px;
					   		}
					   		&:hover:after{
					   			color: #1ca8dd;
					   		}
					   		@include respond-to(medium-screens){
					   			margin:0px auto;
					   		}
					   		@include respond-to(landscape){
					   			margin:0px auto;
					   		}
					   		&:hover{
					   			border:0px;
					   			outline:none;
					   			text-decoration: none;
					   		}
					   		&:focus{
					   			border:0px;
					   			outline:none;
					   			text-decoration: none;
					   		}
					   		&:active{
					   			border:0px;
					   			outline:none;
					   			text-decoration: none;
					   		}
					   		a{
					   			font-size: 0px;
					   			text-decoration: none;
					   		}
				   		}
				}
			}
			h3{
				margin-bottom: 15px;
				font-size: 18px;
				color: #191b1f;
				font-family: $font-raleway-bold;
				@include respond-to(landscape){
					margin-bottom: 30px;
				}
				@include respond-to(handhelds){
					margin-bottom: 30px;	
				}
			}
			p{
				margin-bottom: 50px;
				line-height: 22px;
				color: #191b1f;
				font-family: $font-raleway-regular;
				font-size: 14px;
				@include respond-to(landscape){
					display: none;
					margin-bottom: 0px;
				}
				@include respond-to(handhelds){
					display: none;
					margin-bottom: 0px;
				}
			}
		}

		@include respond-to(medium-screens){
			.portfolio{

				.projects-image{
					height: 127px;		
				}
				.mask{
					height: 127px;

					a{
						&.info{
							margin:23px auto;
						}
					}
				}
			}
			
		}
	}
}