.services-parallax{
	min-height:100%;
	background:url('../images/layouts/services-bg.jpg')  center center no-repeat;
	position: relative;
	overflow: hidden;
	height: 100%;
	width: 100%;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	.services-padding{
		padding-bottom:100px;
	}
	.color-overlay{
		background-color:rgba(28, 168, 221, 0.75);
	}
	@include respond-to(handhelds){
		padding-bottom:0px;
	}
	@include respond-to(landscape){
		padding-bottom:0px;	
	}
	h2{
		@include center-block();
		margin-top: 93px;
		margin-bottom: 30px;
		font-size: 36px;
		color: #ffffff;
		line-height:65px;
		width: 100%;
		text-align: center;
		font-family: $font-montserrat-bold;
		text-transform:uppercase;
		@include respond-to(medium-screens){
			font-size: 30px;
		}
		@include respond-to(handhelds){
			font-size: 26px;
			margin-top:60px;
			margin-bottom: 30px;
		}
		@include respond-to(landscape){
			font-size: 26px;
			margin-top:60px;
			margin-bottom: 30px;
		}
	}
	.underline{
		width: 90px;
		height: 2px;
		background: #90c2d6;
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 45px;
		@include respond-to(medium-screens){
			margin-bottom: 50px;
		}
		@include respond-to(handhelds){
			margin-bottom: 30px;
		}
		@include respond-to(landscape){
			margin-bottom: 30px;
		}
	}
	p{
		line-height: 30px;
		font-size: 18px;
		font-family: $font-raleway-regular;
		text-align: center;
		color: #ffffff;
		margin-bottom: 100px;
		@include respond-to(medium-screens){
			font-size: 16px;
			padding:0px 110px;
		}
		@include respond-to(handhelds){
			font-size: 14px;
			line-height: 20px;
			padding:0px 12px;
			margin-bottom: 50px;
		}
		@include respond-to(landscape){
			font-size: 14px;
			line-height: 20px;
			padding:0px 12px;
			margin-bottom: 50px;
		}
	}
}

/* Our services
============================ */
/* fix for center block */
@include respond-to(landscape){
	.small-width{
		width: 200px;
		display: block;
		margin:0px auto;
	}
}
@include respond-to(handhelds){
	.small-width{
		width: 200px;
		display: block;
		margin:0px auto;
	}
}
.our-services{
	/* center box on mobile devices */
	@include respond-to(handhelds){
		width: 100%;
		@include center-block();
		margin-bottom: 50px
	}
	@include respond-to(landscape){
		width: 100%;
		@include center-block();
		margin-bottom: 50px;
	}
	a{
		display: block;
		@include center-block();
		img{
			border:0px;
			width: 86px;
			height: auto;
			display: block;
			margin:0px auto;
		}
	}
	h3{
		font-size: 18px;
		color: #ffffff;
		font-family: $font-raleway-bold;
		text-transform: capitalize;
		text-align: center;
		border-bottom:2px solid #71b8d0;
		padding-bottom:20px;
		padding-top:30px;
		margin-bottom: 20px;
	}
	ul{
		display: block;
		margin: 0px;
		padding: 0px;
		list-style: none;
		li{
			&:before{
				content:'-';
				padding-right: 5px;
				color: #71b8d0;
			}
			margin-bottom: 10px;
			font-size: 14px;
			font-family: $font-raleway-regular;
			line-height: 20px;
			span{
				color: #ffffff;
				font-size: 14px;
				@include font-roboto-light();
				line-height: 18px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
	@include respond-to(medium-screens){
		width: 33%;
	}
}
.ipad-center-block{
	@include respond-to(medium-screens){
		width: 385px;
		display: block;
		margin:0px auto;
		.our-services{
			width: 50%;
		}
	}
}
.ipad-top-center{
	@include respond-to(medium-screens){
		width:630px;
		@include center-block();
		.our-services{
			margin-bottom: 60px;
		}
	}
}
.hi-icon-effect-5 .hi-icon {
    box-shadow: 0px 0px 1px 1px #fff;
    overflow: hidden;
    transition: #000 0.3s ease 0s, color 0.3s ease 0s, box-shadow 0.3s ease 0s;

}
.hi-icon {
    display: inline-block;
    cursor: pointer;
    width: 92px;
    height: 92px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    z-index: 1;
}
.hi-icon-effect-5 .hi-icon:after {
	display: none;
	text-decoration:none;
}
.hi-icon-effect-5 .hi-icon a:hover{
	text-decoration:none;
}
.hi-icon-effect-5 .hi-icon:hover {
	background: #000;
	color: #000;
	box-shadow: 0 0 1px 1px rgba(255,255,255,0.5);
}
.hi-icon-effect-5a .hi-icon:hover:before {
	color:#fff;
	-webkit-animation: toRightFromLeft 0.3s forwards;
	-moz-animation: toRightFromLeft 0.3s forwards;
	animation: toRightFromLeft 0.3s forwards;
}
@-webkit-keyframes toRightFromLeft {
	49% {
		-webkit-transform: translate(100%);
	}
	50% {
		opacity: 0;
		-webkit-transform: translate(-100%);
	}
	51% {
		opacity: 1;
	}
}
@-moz-keyframes toRightFromLeft {
	49% {
		-moz-transform: translate(100%);
	}
	50% {
		opacity: 0;
		-moz-transform: translate(-100%);
	}
	51% {
		opacity: 1;
	}
}
@keyframes toRightFromLeft {
	49% {
		transform: translate(100%);
	}
	50% {
		opacity: 0;
		transform: translate(-100%);
	}
	51% {
		opacity: 1;
	}
}
[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 88px;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-pen:before {
	content: "\e608";
	display: block;
	font-size: 32px;
	color: #fff;
}
.icon-display:before {
	content: "\e609";
	display: block;
	font-size: 32px;
	color: #fff;
}
.icon-phone:before {
	content: "\e60a";
	display: block;
	font-size: 32px;
	color: #fff;
}
.icon-t-shirt:before {
	content: "\e60b";
	display: block;
	font-size: 32px;
	color: #fff;
}
.icon-world:before {
	content: "\e60c";
	display: block;
	font-size: 32px;
	color: #fff;
}