.team{
	background:#d9d5ce;
	h2{
		@include center-block();
		margin-top: 93px;
		margin-bottom: 30px;
		font-size: 36px;
		color: #191b1f;
		line-height:65px;
		width: 100%;
		text-align: center;
		font-family: $font-montserrat-bold;
		text-transform: uppercase;
		@include respond-to(medium-screens){
			font-size: 30px;
		}
		@include respond-to(handhelds){
			font-size: 26px;
			margin-top: 60px;
			margin-bottom: 30px;
		}
		@include respond-to(landscape){
			font-size: 26px;
			margin-top: 60px;
			margin-bottom: 30px;
		}
	}
	.underline{
		width: 90px;
		height: 2px;
		background: #86898b;
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 45px;
		@include respond-to(handhelds){
			margin-bottom: 30px;
		}
		@include respond-to(landscape){
			margin-bottom: 30px;
		}
	}
	p{
		line-height: 30px;
		font-size: 18px;
		font-family: $font-raleway-regular;
		text-align: center;
		color: #191b1f;
		margin-bottom: 95px;
		@include respond-to(medium-screens){
			font-size: 16px;
			padding:0px 110px;
		}
		@include respond-to(handhelds){
			font-size: 14px;
			line-height: 20px;
			margin-bottom: 50px;
		}
		@include respond-to(landscape){
			font-size: 14px;
			line-height: 20px;
			margin-bottom: 50px;
		}
	}

	.our-team{
		margin-bottom: 93px;
		.top{
			border-bottom:2px solid #bfbcb7;
			margin-bottom: 20px;
			a.thumbnail{
				background:none;
				background-image:none;
				border:0px;
				margin-bottom: 30px;
				&:hover{
					border:0px;
				}
			}
			h3{
				font-size: 14px;
				color: #191b1f;
				text-transform: uppercase;
				font-family: $font-raleway-bold;
				text-align: center;
				margin-bottom: 10px;
			}
			span{
				color: #191b1f;
				font-size:14px;
				font-family: $font-raleway-regular;
				text-align: center;
				display: block;
				width: 100%;
				padding-bottom: 20px;
			}
			
		}
		@include respond-to(handhelds){
			.myteam{
				width: 100%;
				margin-bottom: 50px;
			}
		}
		@include respond-to(landscape){
			.myteam{
				width: 50%;
				margin-bottom: 50px;
			}
		}
		@include respond-to(medium-screens){
			.ipad-split{
				width: 385px;
				display: block;
				@include center-block();
				.myteam{
					width: 50%;
					margin-bottom: 50px;
				}
				.count{
					width: 50%;
					margin-bottom: 50px;
				}
			}
		}
	}
}
.social{
	display:block;
	list-style:none;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	li{
		display: inline-block;
		padding:0px 3px;
	}
	@include respond-to(medium-screens){
		li{
			padding:0px;
		}
	}
}
.hi-icon-effect-5.social .hi-icon {
    box-shadow: 0px 0px 0px 0px #6c6a67;
    overflow: hidden;
    transition: #000 0.3s ease 0s, color 0.3s ease 0s, box-shadow 0.3s ease 0s;
}
.social .hi-icon {
    display:block;
    cursor: pointer;
    text-align: center;
    position: relative;
    z-index: 1;
    width: 31px;
    height: 31px;
    line-height: 31px;
    border-radius:3px;
}
.hi-icon-effect-5.social .hi-icon:after {
	display: none;
	text-decoration:none;
}
.hi-icon-effect-5.social .hi-icon a:hover{
	text-decoration:none;
	box-shadow: 0 0 0 0px rgba(28, 168, 221, 1);
}
.hi-icon-effect-5.social .hi-icon:hover {
	background: none;
	color: transparent;
	box-shadow: 0 0 0 0px rgba(255,255,255,0.5);
	line-height: 31px;
	border:0px;
}
.hi-icon-effect-5a.social .hi-icon:hover:before {
	color:#fff;
	background:#fff;
	border:0px;
	-webkit-animation: toRightFromLeft 0.3s forwards;
	-moz-animation: toRightFromLeft 0.3s forwards;
	animation: toRightFromLeft 0.3s forwards;
}
.icon-twitter:before {
	content: "\e600";
	font-size:24px;
	color:#6c6a67;
	display:block;
}
.icon-twitter.hover:before{
	color:#1ca8dd;
}
.icon-facebook:before {
	content: "\e601";
	font-size:24px;
	color:#6c6a67;
	display:block;
}
.icon-facebook.hover:before{
	color:#1ca8dd;
}
.icon-googleplus:before {
	content: "\e602";
	font-size:24px;
	color:#6c6a67;
	display:block;
}
.icon-googleplus.hover:before{
	color:#1ca8dd;
}
.icon-pinterest:before {
	content: "\e603";
	font-size:24px;
	color:#6c6a67;
	display:block;
}
.icon-pinterest.hover:before{
	color:#1ca8dd;
}
.icon-linkedin:before {
	content: "\e604";
	font-size:24px;
	color:#6c6a67;
	display:block;
}
.icon-linkedin.hover:before{
	color:#1ca8dd;
}
.icon-dribbble:before {
	content: "\e605";
	font-size:24px;
	color:#6c6a67;
	display:block;
}
.icon-dribbble.hover:before{
	color:#1ca8dd;
}
.icon-instagram:before {
	content: "\e606";
	font-size:24px;
	color:#6c6a67;
	display:block;
}
.icon-instagram.hover:before{
	color:#1ca8dd;
}
.icon-behance:before {
	content: "\e607";
	font-size:24px;
	color:#6c6a67;
	display:block;
}
.icon-behance.hover:before{
	color:#1ca8dd;
}