@font-face {

    font-family: 'cuprumregular';

    src: url('cuprum-regular.eot');

    src: url('cuprum-regular.eot?#iefix') format('embedded-opentype'),

         url('cuprum-regular.woff') format('woff'),

         url('cuprum-regular.ttf') format('truetype'),

         url('cuprum-regular.svg#cuprumregular') format('svg');

    font-weight: normal;

    font-style: normal;
	



}









@font-face {

    font-family: 'cuprumbold';

    src: url('cuprum-bold.eot');

    src: url('cuprum-bold.eot?#iefix') format('embedded-opentype'),

         url('cuprum-bold.woff') format('woff'),

         url('cuprum-bold.ttf') format('truetype'),

         url('cuprum-bold.svg#cuprumbold') format('svg');

    font-weight: normal;

    font-style: normal;



}









@font-face {

    font-family: 'ralewayregular';

    src: url('raleway-regular-webfont.eot');

    src: url('raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),

         url('raleway-regular-webfont.woff') format('woff'),

         url('raleway-regular-webfont.ttf') format('truetype'),

         url('raleway-regular-webfont.svg#ralewayregular') format('svg');

    font-weight: normal;

    font-style: normal;



}









@font-face {

    font-family: 'ralewaylight';

    src: url('raleway-light-webfont.eot');

    src: url('raleway-light-webfont.eot?#iefix') format('embedded-opentype'),

         url('raleway-light-webfont.woff') format('woff'),

         url('raleway-light-webfont.ttf') format('truetype'),

         url('raleway-light-webfont.svg#ralewaylight') format('svg');

    font-weight: normal;

    font-style: normal;



}









@font-face {

    font-family: 'ralewayheavy';

    src: url('raleway-heavy-webfont.eot');

    src: url('raleway-heavy-webfont.eot?#iefix') format('embedded-opentype'),

         url('raleway-heavy-webfont.woff') format('woff'),

         url('raleway-heavy-webfont.ttf') format('truetype'),

         url('raleway-heavy-webfont.svg#ralewayheavy') format('svg');

    font-weight: normal;

    font-style: normal;



}









@font-face {

    font-family: 'ralewaybold';

    src: url('raleway-bold-webfont.eot');

    src: url('raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),

         url('raleway-bold-webfont.woff') format('woff'),

         url('raleway-bold-webfont.ttf') format('truetype'),

         url('raleway-bold-webfont.svg#ralewaybold') format('svg');

    font-weight: normal;

    font-style: normal;



}









@font-face {

    font-family: 'ralewayextrabold';

    src: url('raleway-extrabold-webfont.eot');

    src: url('raleway-extrabold-webfont.eot?#iefix') format('embedded-opentype'),

         url('raleway-extrabold-webfont.woff') format('woff'),

         url('raleway-extrabold-webfont.ttf') format('truetype'),

         url('raleway-extrabold-webfont.svg#ralewayextrabold') format('svg');

    font-weight: normal;

    font-style: normal;



}



@font-face {

    font-family: 'cuprumitalic';

    src: url('cuprum-italic.eot');

    src: url('cuprum-italic.eot?#iefix') format('embedded-opentype'),

         url('cuprum-italic.woff') format('woff'),

         url('cuprum-italic.ttf') format('truetype'),

         url('cuprum-italic.svg#cuprumitalic') format('svg');

    font-weight: normal;

    font-style: normal;



}