.main-calculator.no-display {
    right: -299px;
}
.mCSB_inside > .mCSB_container {
    margin-right: 14px;
}
.main-calculator {
    font-family: "cuprumregular";
    padding: 10px;
    border: 1px solid #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    position: fixed;
    top: 100px;
    width: 220px;
    z-index: 100;
    color: #fff;
    background-color: rgba(21, 126, 168, 0.75);
    transition-property: right,width,left;
    transition-duration: 0.5s;
    transition-delay: 0s;
    overflow: hidden;
   
}
.main-calculator.shown {
    right: 20px;
}
.main-calculator.shown .arrow-left {
    display: none;
	
}
.main-calculator.shown .calc-header {
    display: block;
}
.main-calculator.hided {
    right: -196px;
    height: 100px;
    padding-left: 3px;
}
.main-calculator.hided .calc-header {
    display: none;
}
.main-calculator.hided .arrow-left {
    display: block;
	
}
.main-calculator.hided .arrow-right {
    display: none;
}
.main-calculator.hided .calc-content {
    display: none;
}
.arrow-left {
    float: left;
	
}
.arrow-right {
	

}
.arrow-left, .arrow-right, .hide-calc-content {
    cursor: pointer;
    width: 15px;
	display: block;
	margin-right: -20px;
}
.calc-nav-right {
    position: absolute;
    right: 20px;
    top: 1px;
}
.calc-header {
    margin-bottom: 10px;
    font-size: 16px;
    padding-bottom: 0;
	font-weight: bold;
}
.calc-content {
    position: relative;
    left: 12px;
    margin-left: -12px;
    max-height: 300px; /*сделать автоматическое вычисление допустимой высоты контента*/

    /*padding-right: 20px;*/
}
.calc-content-table {
    width: 100%;
    margin-top: 10px;
}
.item-row {
    display: inline-block;
    cursor: pointer;
    width: 90%;
}
.del-item-button {
    width: 10%;
    background: url("../../images/cross.png") center no-repeat;
    background-size: 15px;

    cursor: pointer;
}
.total-summ-box {
    border-top: 1px solid #fff;
    margin-top: 16px;
    padding-top: 10px;
    margin-right: 10px;
    text-align: right;
    font-size: 16px;
	font-weight: bold;
}
.order-btn-box {
    margin-top: 25px;
    text-align: center;
}
.order-btn {
    background-color: rgba(28, 168, 221, 0);
    margin: 0 auto;
}
.hide-calc-content {
    cursor: pointer;
}
@media screen and (max-width: 480px) {
    .main-calculator.shown {
        width: 70%;
        margin: 3%;
        max-height: 60%;
    }
    .arrow-left, .arrow-right {
        font-size: 32px;
    }
}